<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div>
      <h1>Welcome here to add Contacts</h1>
      <div>
        <form action="/contacts" method="POST">
          Name Of Contact: <input type="text" name="name" />
          <br />
          Number Of Contact: <input type="Number" name="contact" />
          <br />
          <input type="submit" name="submit" value="Submit" />
        </form>
      </div>
      <div></div>
    </div>
  </body>
</html>
