<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
    <script src="main.js"></script>
  </head>
  <body>
    <div>
      <h1>Welcome here to add Contacts</h1>
      <div>
        <form action="/contacts" method="POST">
          Name Of Contact: <input type="text" name="name" />
          <br />
          Number Of Contact: <input type="Number" name="contact" />
          <br />
          <input type="submit" name="submit" value="Submit" />
        </form>
      </div>
      <div>
        <br>
        <br>
        <br>
        <br>
        <div>
          <% if(contacts.length > 0){ %>
            <h3>Contacts</h3>
            <ul style="display: inline;">
              <% for(var i=0; i<contacts.length; i++) {%>
                  <li><%= contacts[i].name %> : <%= contacts[i].contact %></li>
                  <button>Update</button>
                  <button type="delete" name="delete">
                    <a href="/del/<%= contacts[i]._id %>"> Delete  </a>
                  </button>

                  <br>
                  <br>
                  <br>
                  <br>
              <% } %>
            </ul>
            <% } else{ %>
                <h3>No Contact Added Yet 🤷‍♂️</h>
            <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
