<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Signup Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
  </head>
  <body>
    <header>
      <div class="ui container">
        <div class="ui inverted blue icon menu">
          <div class="item">
            <i class="home icon"></i>
            <a href="http://localhost:3000/">
              Home
            </a>
          </div>
          <div class="right item">
            <i class="sign in alternate icon"></i>
            <a href="http://localhost:3000/login">
              Login
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="ui container">
      <h1>Sign Up</h1>
      <div class="ui form">
        <form type="signup" action="signup" method="POST">
            <div class="two wide field">
              Name:
              <input type="text" name="name" />
            </div>
            <div class="two wide field">
              Gmail:
              <input type="text" name="email" />
            </div>
            <div class="two wide field">
              Password:
              <input type="password" name="password" />
            </div>
            <div class="two wide field">
              Confirm Password:
              <input type="password" name="confirmPassword" />
            </div>
            <input type="submit" name="submit" value="Submit" />
          </div>
        </form>
      </div>
      <div class="ui container">
        <% if (locals.errors) { %>
          <ul>
              <% Object.values(errors).forEach(function(error){ %>
                    <div class="ui bottom attached compact warning message">
                        <i class="warning icon"></i>
                        <span>
                          <%= error.msg %>
                        </span>
                    </div>
              <% }); %>
          </ul>
          <% } %>
      </div>
    </div>

    
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </body>
</html>
